.translator {
  position: absolute;
  top: 80px;
  left: calc(50% - 162px);
  font-size: 45px;
  display: inline-block;
  width: 324px;
  height: 47px;
}
.text-translation-page-2-child,
.text-translation-page-2-item {
  position: absolute;
  top: 240px;
  border-radius: var(--br-xl);
  width: 500px;
  height: 283px;
  font-size: 25px;
  resize: none;
  padding: 20px;
  overflow-x: hidden;
  /* text-align: center; */
  
}

.text-translation-page-2-child:hover {
  border: 1px solid;
}
::-webkit-input-placeholder {
  font-size: 25px;
  position: relative;
  top: 100px;
  text-align: center; 
}

/* Track */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background-color:  #adadad; /* Color of the thumb */
  border-radius: 5px; /* Rounded corners of the thumb */
}

/* Hover effect on thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-darkslategray-100); /* Color of the thumb on hover */
}

/* Track background */
::-webkit-scrollbar-track {
  background-color: #ffffff; /* Background color of the track */
}

.text-translation-page-2-child {
  border: 1px solid #d7d7d7;
  background-color: var(--color-white);
  left: 60px;
  box-sizing: border-box; 
}

.text-translation-page-2-item {
  border: 0;
  background-color: var(--color-gainsboro);
  left: 700px;
  box-sizing: border-box;
}


.btn1,.btn2 ,.btn2_selected, .btn1_selected{
  padding-left: 15px;
  border: 2px solid var(--color-darkslategray-100);
  cursor: pointer;
  position: absolute;
  font-size: var(--font-size-7xl);
  color: black;
  border-radius: var(--br-3xs);
  top: 600px;
  height: 47px;
  box-shadow: 0 2px #858585;
  transition: ease-in-out;
}
.btn1, .btn1_selected{
  left: 165px;
  width: 120px;
  margin-left: -35px
}
.btn1:hover,.btn2:hover, .btn1_selected ,.btn2_selected {
  background-color: var(--color-darkslategray-100);
  color: white;

}
.btn1:active, .btn2:active {
  background-color: var(--color-darkslategray-100);
  box-shadow: 0 0px #666;
  transform: translateY(2px);
}

.btn2 , .btn2_selected {
  left: 310px;
  width: 180px;
  
}

.icon {
  position: absolute;
  height: 81.25%;
  width: 64.58%;
  top: 9.38%;
  right: 17.71%;
  bottom: 9.38%;
  left: 17.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.icon:hover {
  color: #fff
  }
  
.capture-1-icon,
.solidfilesfile {
  position: absolute;
  top: 603px;
  left: 302px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.solidfilesfile:hover {
  color: #fff
}
.capture-1-icon {
  top: 30px;
  left: 60px;
  border-radius: 10px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.arrow-icon,
.text-translation-page-2-child1 {
  position: absolute;
  top: 350.95px;
  left: 605px;
  width: 44.5px;
  height: 22.09px;
}
.text-translation-page-2-child1 {
  top: 370.95px;
  left: 605.5px;
}
.solidfilesclipboard-alt-icon {
  position: absolute;
  top: 250px;
  left: 1150px;
  width: 35px;
  height: 35px;
  

}

.solidfilesclipboard-alt-icon:hover {
  cursor: pointer;
}

.solidinterfacecross-icon {
  position: absolute;
  top: 245px;
  left: 510px;
  width: 45px;
  height: 45px;
  
}

.solidinterfacecross-icon:hover{
  cursor: pointer;
  color: #fff
}

.solidfilesclipboard-alt-icon:active, .solidinterfacecross-icon:active {
  box-shadow: 0 0px #666;
  transform: translateY(2px);
}
.text-translation-page-2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 650px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-rubik);
}



.icon-container {
  display: inline-block; /* Ensures the container only takes the necessary space */
  position: relative; /* Positioning context for the icon */
}

.popup {
  position: absolute;
  top: 270px;
  left: 1060px; /* Position the pop-up to the left of the icon */
  transform: translate(10px, -50%); /* Adjust the position as needed */
  padding: 5px 10px;
  background-color: var(--color-darkslategray-100);
  color: #fff;
  font-size: 16px;
  border-radius: var(--br-xl);
  
}

.document-translation {
  border: 0;
  background-color: var(--color-gainsboro);
  left: 40px;
  box-sizing: border-box;
  position: absolute;
  top: 240px;
  border-radius: var(--br-xl);
  width: 1200px;
  height: 283px;
  font-size: 25px;
  resize: none;
  padding: 20px;
}

.document-translation p {
  text-align: center;
  top: 500px;
  color: var(--color-darkslategray-100);
  line-height: 10px;
}

.Upload-btn {
  padding-left: 10px;
  border: 2px solid var(--color-darkslategray-100);
  cursor: pointer;
  position:absolute ;
  color: black;
  border-radius: var(--br-3xs);
  top: 150px;
  left: 500px;
  height: 40px;
  box-shadow: 0 2px #858585;
  background-color: var(--color-darkslategray-100);
  color: white;
  font-size: 17px;

}

.Upload-btn:active , .btn1_selected:active, .btn2_selected:active {
  box-shadow: 0 0px #666;
  transform: translateY(2px);
}

.Upload-btn:hover ,.btn2_selected:hover, .btn1_selected:hover {
  background-color: #1d3062;
}

.fa-language  {
  color: var(--color-darkslategray-100);
  left: -10px;
  position: relative;
}

.fa-file{
  color: var(--color-darkslategray-100);
  left: -10px;
  position: relative;
}

.btn2:hover .fa-file, .btn2_selected .fa-file, .btn1_selected .fa-language, .btn1:hover .fa-language {
  color: white; /* Color on hover */
}



