<!DOCTYPE html>
<html>
    <head>
        <title>Translator</title>
        <link rel="stylesheet" href="/static/global.css" />
        <link rel="stylesheet" href="/static/index.css" />
        <script src="https://kit.fontawesome.com/0e94944559.js" crossorigin="anonymous"></script>

        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
        />
    </head>
    <body>
        <div class="text-translation-page-2">
            <div class="translator">TRANSLATOR</div>

            <div class="document-translation">        
                <p style="padding-top: 25px; ">Choose a Document </p>
                <p style="font-size: 15px; "> Upload your file as .pdf</p>
                <input type="file" id="fileInput" style="display: none;">
                <button class ="Upload-btn" id="uploadButton">Browse your Computer</button>
                <p style="padding-top: 85px; padding-left: 30px; font-size: 15px; text-align: center;">You can also upload your Documents as Folder</p>
            </div>


            <a href="index.html">
                <button
                class="btn1"
                id="translateButton"><i class="fa-solid fa-language"></i>Text</button></a>

            <a href="document.html">
            <button
             class="btn2_selected"
             id="translateButton"
            ><i class="fa-solid fa-file"></i>Document</button>
            
        
            <a href="https://pinacalabs.com/"><img class="capture-1-icon" alt="" src="/static/assets/capture-1@2x.png" /></a>
    
      
            
        </div>
        <script src="/static/upload.js"></script>
    </body>
</html>