
<!DOCTYPE html>
<html>

<head>
  <title>Translator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/global.css">
  <link rel="stylesheet" href="/static/index.css">
  <script src="https://kit.fontawesome.com/0e94944559.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" , href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap" />
</head>

<body>
  <div class="text-translation-page-2">
    <div class="translator">TRANSLATOR</div>

    <textarea class="text-translation-page-2-child"   id="sourceText" placeholder="Enter text to translate"></textarea>

    <a href="/">
      <button class="btn1_selected" id="translateButton"><i class="fa-solid fa-language"></i>Text</button></a>


    <textarea class="text-translation-page-2-item"  id="translatedText" placeholder="Translation" readonly></textarea>

    <a href="/document">
      <button class="btn2" id="translateButton"><i class="fa-solid fa-file"></i>Document</button></a>


    <a href="https://pinacalabs.com/"><img class="capture-1-icon" alt="" src="/static/assets/capture-1@2x.png" /></a>

    <img class="arrow-icon1" alt="" src="/static/assets/arrow-1.svg" />

    <img class="arrow-icon2" alt="" src="/static/assets/arrow-2.svg" />
    <i class="fa-solid fa-xmark solidinterfacecross-icon" id="clearIcon"></i>
    <i class="fa-regular fa-copy solidfilesclipboard-alt-icon" onclick=""></i>
    <div id="popupContainer"></div>
  </div>
  <script src="/static/script.js"></script>
</body>

</html>
      
            
